<h1 *ngIf="tasks.length === 0">There are no tasks :-)</h1>

<table class="table table-striped">
    <tbody>
    <tr *ngFor="let task of tasks" (click)="taskClicked(task)">
        <td [class.bg-success]="!task.isCompleted()">
            <div>

                <h4><!-- Task checked/unchecked display -->
                <span *ngIf="task.isTask() && !task.isCompleted()"
                      class="glyphicon glyphicon-unchecked"></span>
                <span *ngIf="task.isTask() && task.isCompleted()"
                      class="glyphicon glyphicon-check"></span>

                <!-- Message checked/unchecked display -->
                <span *ngIf="task.isMessage() && !task.isCompleted()"
                      class="glyphicon glyphicon-comment"></span>
                    {{task.title}}
                    <span *ngIf="hasRoute(task)"
                          class="pull-right glyphicon glyphicon-menu-right"></span></h4>

                <div class="pull-right align-right">
                    {{timePast(task)}} ago<br/>
                    {{dateTime(task)}}
                </div>

                <img *ngIf="task.imagePath" [src]="task.imagePath">
                {{task.description}}

                <span *ngIf="!task.isActioned()">
                    <button *ngFor="let action of task.actions"
                            (click)="actionClicked(task, action); $event.stopPropagation();"
                            class="btn btn-default btn-sm">{{action.title}}</button>
                    </span>

            </div>
        </td>
    </tr>
    </tbody>
</table>
