<h1 *ngIf="tasks.length === 0">There are no tasks :-)</h1>


<table class="table table-striped">
    <tbody>
    <tr *ngFor="let item of tasks" (click)="taskClicked(item)">
        <td>
            <div [class.bg-danger]="item.isStateNew()"
                 [class.bg-success]="item.isStateReceived()">
                <h4>{{item.title}}</h4>
                <p>{{item.description}}</p>

                <p>{{item.routePath}}</p><br/>
                <p class="pull-right">{{timePast(item)}} ago</p>
            </div>
        </td>
    </tr>
    </tbody>
</table>
