<ScrollView>
    <StackLayout class="inbox">
        <label class="title h3"
               *ngIf="tasks.length === 0"
               text="There are no tasks :-)">

        </label>
        <StackLayout>
            <GridLayout class="inbox-item"
                        *ngFor="let task of tasks"
                        [class.bg-success]="!task.isCompleted() && task.isPrioritySuccess()"
                        [class.bg-info]="!task.isCompleted() && task.isPriorityInfo()"
                        [class.bg-warning]="!task.isCompleted() && task.isPriorityWarning()"
                        [class.bg-danger]="!task.isCompleted() && task.isPriorityDanger()"
                        (tap)="taskClicked(task)"
                        rows="auto"
                        columns="auto,*,auto">
                <GidLayout class="inbox-icon"
                           rows="auto,*"
                           columns="*">
                    <Label class="fa fa-square-o"
                           *ngIf="task.isTask() && !task.isCompleted()"
                           [text]="'fa-square-o' | fonticon"></Label>

                    <Label class="fa fa-check-square-o"
                           *ngIf="task.isTask() && task.isCompleted()"
                           [text]="'fa-check-square-o' | fonticon"></Label>

                    <Label class="fa fa-comment-o"
                           *ngIf="task.isMessage() && !task.isCompleted()"
                           [text]="'fa-comment-o' | fonticon"></Label>

                </GidLayout>

                <GridLayout class="inbox-info"
                            col="1"
                            rows="auto,*,auto"
                            columns="*">
                    <Label class="inbox-title"
                           [text]="' ' + task.title"
                           textWrap="true"></Label>
                    <label class="inbox-description"
                           row="1"
                           [text]="task.description"
                           textWrap="true"></label>
                    <label class="inbox-date-time"
                           row="2"
                           [text]="timePast(task) + ' ago, ' + dateTime(task)"></label>

                </GridLayout>

                <DockLayout col="2">
                    <Label class="btn inbox-read-more"
                           *ngIf="hasRoute(task)"
                           [text]="'fa-angle-right' | fonticon"></Label>

                </DockLayout>
            </GridLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>
