<div class="inbox-tasks">
    <div class="h3"
         *ngIf="tasks.length === 0">
        The inbox is empty.

    </div>
    <div class="inbox-item bg-success"
         *ngFor="let task of tasks"
         (click)="taskClicked(task)">
        <div class="inbox-icon">
            <i class="fa fa-comment"
               aria-hidden="true"></i>

        </div>
        <div class="inbox-info">
            <div class="inbox-title">
                {{task.title}}

            </div>
            <div class="inbox-description">
                {{task.description}}

            </div>
            <div class="inbox-date-time">
                {{timePast(task)}} ago, {{dateTime(task)}}

            </div>
        </div>
        <div class="btn inbox-read-more">
            <i class="fa fa-chevron-right"
               aria-hidden="true"></i>

        </div>
    </div>
</div>
