<div class="inbox">
    <div class="message"
         *ngIf="tasks.length === 0">
        The inbox is empty.

    </div>
    <div class="task bg-success"
         *ngFor="let task of tasks"
         (click)="taskClicked(task)">
        <div class="icon">
            <i class="fa fa-comment"
               aria-hidden="true"></i>

        </div>
        <div class="info">
            <div class="title">
                {{task.title}}

            </div>
            <div class="description">
                {{task.description}}

            </div>
            <div class="date-time">
                {{timePast(task)}} ago, {{dateTime(task)}}

            </div>
        </div>
        <div class="btn read-more">
            <i class="fa fa-chevron-right"
               aria-hidden="true"></i>

        </div>
    </div>
</div>
