<div class="activity">
    <h1 *ngIf="activities.length === 0">There is no recent activity.</h1>

    <table class="table table-striped">
        <tbody>
        <tr class="tr"
            *ngFor="let activity of activities"
            (click)="activityClicked(activity)">
            <td class="td">
                <div class="row">
                    <div class="title">{{activity.title}}</div>
                    {{activity.description}}
                    <div class="date-time">{{timePast(activity)}} ago,
                        {{dateTime(activity)}}
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>