<div class="activity">
    <div class="message"
         *ngIf="activities.length === 0">
        There is no recent activity.

    </div>
    <div class="task"
         *ngFor="let activity of activities"
         (click)="activityClicked(activity)">
        <div class="info">
            <div class="title">
                {{activity.title}}

            </div>
            <div class="description">
                {{activity.description}}

            </div>
            <div class="date-time">
                {{timePast(activity)}} ago, {{dateTime(activity)}}

            </div>
        </div>
        <div class="btn read-more">
            <i class="fa fa-chevron-right"
               aria-hidden="true"></i>

        </div>
    </div>
</div>
