<div class="activity">
    <div class="message"
         *ngIf="activities.length === 0">
        There is no recent activity.

    </div>
    <table class="table">
        <tr class="tr"
            *ngFor="let activity of activities"
            (click)="activityClicked(activity)">
            <td class="td">
                <div class="row">
                    <div class="title">
                        {{activity.title}}

                    </div>
                    <div class="description">
                        {{activity.description}}

                    </div>
                    <div class="date-time">
                        {{timePast(activity)}} ago, {{dateTime(activity)}}

                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>