<ScrollView class="inbox">
    <label class="message"
           *ngIf="activities.length === 0"
           text="There is no recent activity">

    </label>

    <ListView [items]="activities"
              (tap)="activityClicked(activity)">
        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <StackLayout [class.odd]="odd" [class.even]="even"
                         (tap)="activityClicked(item)">
                <GridLayout columns="*,auto" rows="*">
                    <label class="title"
                           row="0" col="0"
                           [text]="item.title" textWrap="true">

                    </label>
                    <Label class="read-more"
                           *ngIf="hasRoute(item)"
                           row="0" col="1"
                           [text]="'fa-angle-right' | fonticon">

                    </Label>
                </GridLayout>
                <label class="description"
                       [text]="item.description">

                </label>
                <label class="date-time"
                       [text]="timePast(item) + ' ago, ' + dateTime(item)">

                </label>
            </StackLayout>
        </ng-template>
    </ListView>
</ScrollView>
