<h1 *ngIf="activities.length === 0">There is no recent activity.</h1>


<table class="table table-striped">
    <tbody>
    <tr *ngFor="let activity of activities" (click)="activityClicked(activity)">
        <td>
            <div>
                <h4>{{activity.title}}
                    <span *ngIf="hasRoute(activity)"
                          class="pull-right glyphicon glyphicon-menu-right"></span></h4>

                <div class="pull-right align-right">
                    {{timePast(activity)}} ago<br/>
                    {{dateTime(activity)}}</div>

                <img *ngIf="activity.imagePath" [src]="activity.imagePath">
                {{activity.description}}
            </div>
        </td>
    </tr>
    </tbody>
</table>
